<div class="profile-body">
    <div class="profile-body__user">
        <div class="spinner-container" *ngIf="!profile && isLoadingProfile">
            <mat-spinner></mat-spinner>
        </div>
        <div class="user" *ngIf="profile">

            <div class="image-container">
                <img [src]="profile.avatar_url" alt="">
            </div>
            <div class="text-container">
                <p class="mat-small" >{{profile.login}}</p>
                <p class="mat-small">{{profile.name}}</p>
                <p class="mat-small">{{profile.location}}</p>
            </div>
        </div>
    </div>
    <div class="profile-body__repos">
        <div class="spinner-container" *ngIf="!repos && isLoadingRepo">
            <mat-spinner></mat-spinner>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let repo of repos">
                <mat-icon matListIcon>folder</mat-icon>
                <h3 matLine> {{repo.name}} </h3>
                <p matLine>
                    <span> {{repo.description | slice:0:40}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>

</div>
