<div class="profile-body">
    <div class="profile-body__user">
        <div class="spinner-container" *ngIf="!profile && isLoadingProfile">
            <mat-spinner  [diameter]="40"></mat-spinner>
        </div>
        <div class="user" *ngIf="profile">

            <div class="image-container">
                <img [src]="profile.avatar_url" alt="">
            </div>
            <mat-list class="text-container">
                <mat-list-item>{{profile.login}}<mat-divider></mat-divider></mat-list-item>
                <mat-list-item>{{profile.name}}<mat-divider></mat-divider></mat-list-item>
                <mat-list-item>{{profile.location}}<mat-divider></mat-divider></mat-list-item>
            </mat-list>
        </div>
    </div>
    <div class="profile-body__repos">
        <div class="spinner-container" *ngIf="!repos && isLoadingRepo">
            <mat-spinner color="warn" [diameter]="40"></mat-spinner>
        </div>
        <mat-list>
            <mat-list-item *ngFor="let repo of repos">
                <mat-icon matListIcon>folder</mat-icon>
                <h3 matLine> {{repo.name}} </h3>
                <p matLine>
                    <span> {{repo.description | slice:0:40}} </span>
                </p>
            </mat-list-item>
        </mat-list>
    </div>

</div>

<!-- ng build --prod --base-href https://kine1991.github.io/github-api-angular-app

ngh --dir dist/github-api-angular-app

ng build --prod --base-href "https://kine1991.github.io/github-api-angular-app/"
ngh --dir=dist/github-api-angular-app -->