.profile-container{
    max-width: 860px;
    min-height: 600px;
    background: #e3edf0;
    margin: 3rem auto;

    // overflow: scroll;
    // display: flex;

    @media (max-width: 900px) {
        max-width: 100%;
        margin: 0;
        min-height: 100%
    }

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }
}


.header{
    &__label{
        flex: 1;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__search{
        flex: 2;
        padding: 0 2rem;
    }
    &__fill{
        flex: 1;

        @media (max-width: 600px) {
            display: none;
        }
        // background: greenyellow;
        // align-self: flex-end;
        // justify-self: flex-end;
    }
}

.profile-content{
    display: flex;
    // align-self: stretch;
    // height: 100%;
    // background: honeydew;
    height: 600px;

    @media (max-width: 900px) {
        min-height: calc(100vh - 64px);
    }


    &__sidebar{
        flex: 1;
        background: #eef2f3;
        overflow: scroll;
        // padding: 1rem 0;

        @media (max-width: 900px) {
            min-height: calc(100vh - 64px);
            // background: #2228e9;
        }

        @media (max-width: 760px) {
            flex: 0 0 200px;
        }
        @media (max-width: 600px) {
            flex: 0 0 130px;
        }

    }

    &__body{
        flex: 3;
        background: #e4e8e9;

        @media (max-width: 900px) {
            min-height: calc(100vh - 64px);
        }

        @media (max-width: 760px) {
            flex: 1;
            // background: #e198e9;
            display: flex;
            flex-direction: column;
            padding: 0;
            min-height: calc(40vh - 64px);
        }
        overflow: hidden;
    }

    &__list {
        display: flex;
        flex-direction: column;
        // padding: .5rem 0;
        // background: chartreuse;
    }

    &__image-container{
        flex: 1;
        & > img{
            width: 100%;
        }
        border-radius: 20px;
        overflow: hidden;
    }

    &__name{
        flex: 3;
        margin-left: 1rem;
        // padding: .3rem 0;
    }


}


.spinner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.spinner{
    // position: absolute;
    // top: -50%;
    // left: -50%;
    // transform: translate(-50%, -50%);
}